math-textbox[hidden] {
  display: none;
}

math-textbox {
  display: flex;
  flex-direction: column;
  position: relative;
}

math-textbox[overlay-visible] editable-text {
  visibility: hidden;
}

math-textbox .math-overlay {
  position: absolute;
  inset: 0;
  overflow: auto;
  display: block; /* ensure layout box for HTML namespace */
}
