math-textbox[hidden] {
  display: none;
}

math-textbox {
  display: flex;
  flex-direction: column;
  position: relative;
}

math-textbox[data-md-style="paper"] {
  font-family:
    KaTeX_Main,
    "Times New Roman",
    Times,
    "Noto Serif",
    "Noto Serif CJK SC",
    "Source Han Serif SC",
    "Songti SC",
    SimSun,
    serif;
}

math-textbox[overlay-visible] editable-text {
  visibility: hidden;
}

math-textbox .math-overlay {
  position: absolute;
  inset: 0;
  overflow: auto;
  display: block; /* ensure layout box for HTML namespace */
}
